body{
    background-color:#282c34;
}

h1 {
    color: white;
    text-align: center;
  }
  
  ul {
    color: aqua;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  a {
    text-decoration: none;
    color: #b3a8a8;
    padding: 10px;
    margin: 10px;
    border: 1px solid #07cdff;
  }

  button {
    color: rgb(0, 255, 255);
  }
  
  a:hover {
    background-color: #006992;
  }