body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #282c34;
    color: #61dafb;
    margin: 0;
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #61dafb;
    border: none;
    color: #282c34;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #21a1f1;
}

#tela-inicial, #jogo-da-velha, #jogo-da-forca {
    display: none;
}

#tela-inicial h1, #jogo-da-velha h1, #jogo-da-forca h1 {
    margin-bottom: 20px;
}

#tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 10px;
    margin: 20px auto;
}

.celula {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
    cursor: pointer;
    transition: transform 0.2s;
}

.celula:hover {
    transform: scale(1.05);
}

.placar {
    margin-top: 20px;
}

#palavra-oculta {
    font-size: 24px;
    letter-spacing: 5px;
}

#entrada-letra {
    padding: 5px;
    font-size: 18px;
    text-align: center;
}
